In [3]:
import numpy as np
import pandas as pd
#시각화 패키지
import matplotlib.pyplot as plt

#시각화를 할 때 한굴 출력을 위해서 import
import platform
from matplotlib import font_manager,rc

In [4]:
df = pd.read_csv('./data/stock-data.csv')
print(df.head())
print(df.info())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [15]:
#날짜 자료형으로 변경해서 새로운 필드로 저장
df['NewDate'] = pd.to_datetime(df['Date']) 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     20 non-null     object
 1   Close    20 non-null     int64
 2   Start    20 non-null     int64
 3   High     20 non-null     int64
 4   Low      20 non-null     int64
 5   Volume   20 non-null     int64
 6   NewDate  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB
None

In [16]:
#새로 만들어진 날짜 컬럼을 인덱스로 지정하고기존의 날짜 컬럼 삭제
df.set_index('NewDate', inplace=True)
df.drop('Date', axis=1, inplace=True)
print(df.head)

<bound method NDFrame.head of             Close  Start   High    Low  Volume
NewDate
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039
2018-06-25  11150  11400  11450  11000   55519
2018-06-22  11300  11250  11450  10750  134805
2018-06-21  11200  11350  11750  11200  133002
2018-06-20  11550  11200  11600  10900  308596
2018-06-19  11300  11850  11950  11300  180656
2018-06-18  12000  13400  13400  12000  309787
2018-06-15  13400  13600  13600  12900  201376
2018-06-14  13450  13200  13700  13150  347451
2018-06-12  13200  12200  13300  12050  558148
2018-06-11  11950  12000  12250  11950   62293
2018-06-08  11950  11950  12200  11800   59258
2018-06-07  11950  12200  12300  11900   49088
2018-06-05  12150  11800  12250  11800   42485
2018-06-04  11900  11900  12200  11700   25171
2018-06-01  11900  11800  12100  11750   32062>

In [21]:
#천번째 데이터는 날짜로 변경 가능한 데이터이고
#두번째 데이터는 날짜로 변경 불가능한 데이터
date_strings = np.array([
    '03-04-2005 11:35 PM','04-09-2009 09:09 TM'])

#예외 발생
#print([pd.to_datetime(date, format='%d-%m- %l:%m:%p') for date in date_strings])
#예외가 발생하면 문자열 그대로 저장
#list는 2개의 데이터 자료형이 달라도 문제가 없지만 
#array나 DataFeame으로 벼노환해서 사용하는 경우에는 문제가 발생할 수도 있음
#이 방법은 권장하지 않음
print([pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='ignore') for date
in date_strings])
print(pd.DataFrame([pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='ignore') for date
in date_strings]).info())


#변환이 안되는 경우는 NaT로 설정
print(pd.DataFrame([pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='coerce') for date
in date_strings]).info())

#예외를 발생하도록 함
print(pd.DataFrame([pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='raise') for date
in date_strings]).info())

[Timestamp('2005-04-03 23:35:00'), '04-09-2009 09:09 TM']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes
None

ValueError: time data '04-09-2009 09:09 TM' does not match format '%d-%m-%Y %I:%M %p' (match)